body{
    background-color: white;
}

header{
    text-align: center;
    padding: 5%;
}

h2{
    text-align: center;
    margin-bottom: 3%;
}

input, textarea{
    width: 100%;
    margin: 2% 2%;
}

form{
    width: auto;
}

footer{
    display: flex;
    justify-content: center;
    font-size: 16pt;
}
/*BLOQUES */

.bloques{
    margin: 10px 10px;
    display: flex;
}

.bloqueContactos,.bloqueFormulario{
 margin: 0px 8px; 
}


.countdown{
    text-align: center;
    align-items: center;
}

.espera{
    margin-top: 5%;
    margin-bottom: 5%;
}
/*CONTACTOS*/

.contactos{
    margin: 10% 5%;
}


/*TEXTOS*/

.temporizador{
    color: brown;
    font-size: 30pt;
}

.error{
    color: red;
    font-style: 20pt;
    margin-top: 10%;
    margin-bottom: 10%;
}


